@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --lightblue: hsl(243, 100%, 93%);
  --grayblue: hsl(229, 7%, 55%);
  --blue: hsl(228, 56%, 26%);
  --darkblue: hsl(229, 57%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
